pypdf
pandas
numpy
faiss-cpu
sentence-transformers
langdetect
requests
torch
transformers
streamlit
langchain
langchain-huggingface
langchain-ollama
faiss-cpu
numpy
pandas
pypdf
pdfplumber
pandas
pdf2image
pytesseract
